:root {
    --base: #4CB853;
    --accent: #F6851F;
    --bg: #F7FFF5;
    --error: #F61F1F;
    --success: #1FF682;
    --text: #151514;
    --title: #000000;
    --orange-gr: linear-gradient(360deg, #F6851F 25.58%, rgba(240, 152, 25, 0.17) 110.08%);
    --green-gr: linear-gradient(29.84deg, rgba(44, 156, 72, 0.66) 37.46%, rgba(0, 227, 174, 0.34) 79.68%);
    --secondary: #DDE1DC;
    --plashka: #E2FFDA;
    --footer: #1E9680;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    background: var(--bg);
}

/* Default Styles */
section {
    margin-bottom: 220px;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* Glob Styles */
.ek-container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.ek-row{
    padding-right: 15px;
    padding-left: 15px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ek-position_relative {
    position: relative; 
}
.ek-dfw{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ek-alt-center{
    align-items: center;
}
.ek-jc-center{
    justify-content: center;
}
.ek-jc-sb{
    justify-content: space-between;
}
.ek-h-fit{
    height: fit-content;
}
/* Buttons Styles */
.ek-btn {
    color: var(--text);
    cursor: pointer;
    background: var(--secondary);
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    font-size: 20px;
    min-width: 160px;
    padding: 15px;
    transition: all .3s ease-in;
}
.ek-btn.disabled {
    border-color: var(--secondary);
    background-color: var(--bg);
    color: var(--secondary);
    pointer-events: none;
}
.ek-btn.ek-success, .ek-btn.ek-success.invert:hover {
    background-color: var(--base);
    border-color: var(--base);
    color: var(--bg);
}
.ek-btn.ek-success:hover, .ek-btn.ek-success.invert {
    background-color: var(--bg);
    border-color: var(--base);
    color: var(--base);
}
/* Title & SubTitle Styles */
.ek-section__heading{
    width: 100%;
    font-weight: 600;
    font-size: 48px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 55px;
    text-align: center;
    margin-bottom: 50px;
}
.ek-uni__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    height: fit-content;
    width: 100%;
}
.ek-uni__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(--text);
}
/* Swiper Slider Styles */
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Pop Up Styles */
/*PopUp Stylesheet*/
@keyframes pop-up {
    0%{
        opacity: 0;
        transform: scale(.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@-webkit-keyframes pop-up {
    0%{
        opacity: 0;
        transform: scale(.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.ek-pop_up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
    background-color: rgb(21 43 100 / 20%);
    overflow-y: overlay;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease;
}
.ek-pop_up.active {
    opacity: 1;
    z-index: 25;
    animation: .2s pop-up ease-in;
}
.ek-pop_up-wrap {
    position: relative;
    width: 370px;
    margin: auto auto;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 65px 50px;
    border-radius: 6px;
}
.ek-pop_up-header {
    margin-bottom: 35px;
}
.ek-pop_up-header h4 {
    font-size: 20px;
    font-weight: normal;
    color: var(--blue);
    margin: 0;
}
.ek-pop_up-header i {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #E3E3E3;
    font-size: 24px;
    cursor: pointer;
}
/* Navigation Styles */
nav.ek-laptop {
    padding: 85px 0 105px;
}
.ek-logo {
    width: 255px;
}
.ek-menu {
    margin: 0 30px;
    padding: 0;
    width: calc(100% - 255px - 356px - 60px);
}
.ek-menu li a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    transition: color .3s ease;
}
.ek-menu li a:hover {
    color: var(--base);
}
.ek-auth .ek-btn:first-child {
    margin-right: 20px;
}
nav.ek-mobile {
    display: none;
}
/* - Humburger - */
.ek-humburger {
    position: relative;
    margin-left: auto;
    height: 2px;
    width: 30px;
    background: var(--blue);
    transition: all .4s ease;
    cursor: pointer;
    z-index: 16;
}
.ek-humburger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-top: 2px solid var(--blue);
    top: -10px;
    left: 0;
    transition: all .4s ease;
}
.ek-humburger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-bottom: 2px solid var(--blue);
    top: 0;
    left: 0;
    transition: all .4s ease;
}
.ek-humburger.active {
    transform: rotate(45deg);
}
.ek-humburger.active::before {
    top: -5px;
    left: 5px;
    transform: rotate(-90deg);
}
.ek-humburger.active::after {
    left: -100%;
    opacity: 0;
}


/*Banner styles*/
.ek-banner__wrap {
    padding: 0 15px;
}
.ek-banner__title{
    width: 60%;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 74px;
    color: var(--title);
}
.ek-banner__text{
    width: 60%;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}
.ek-banner__wrap .ek-btn.ek-success {
    padding: 15px 25px;
}
.ek-banner__img_laptop{
    position: absolute;
    right: 0;
    bottom: 5%;
    width: 450px;
}
.ek-banner__img_phone{
    position: absolute;
    right: 25%;
    bottom: -30%;
    transform: rotate(-15deg);
    width: 110px;
}
.ek-banner__img_tablet{
    width: 205px;
    position: absolute;
    right: 2%;
    bottom: -32%;
    transform: rotate(15deg);
}

/*For Who Styles*/
.ek-for_who .ek-row {
    margin: 0 -15px;
}
.ek-for_who__column {
    padding: 15px;
    width: 25%;
    box-sizing: border-box;
}
.ek-for_who__column__img {
    width: 100%;
    background: var(--bg);
    box-shadow: 0px 2px 35px 5px rgb(182 182 182 / 25%);
    border-radius: 20px;
}

/* What We Offer Styles */
.ek-what_we_offer__column {
    width: calc(50% - 15px);
    align-items: center;
}
.ek-what_we_offer__column:nth-child(2n) {
    margin-right: 30px;
}
.ek-what_we_offer__column svg{
    width: 175px;
    margin-right: 35px;
}
.ek-what_we_offer__column__text-wrap {
    width: calc(100% - 210px);
}
.ek-what_we_offer__column__text-wrap .ek-uni__title {
    text-align: left;
}
/* Price Table Styles */
.ek-table{
    width: 100%;
    padding: 0;
    margin: 0;
}
.ek-table__bage{
    width: 65px;
    height: 65px;
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--base);
    border-radius: 10px;
    background: var(--base);
    color: white;
}
.ek-table__heading:not(.last) {
    width: 340px;
    height: 120px;
    line-height: 30px;
    margin: 0;
    margin-right: 10px;
    font-size: 24px;
    align-items: center;
}
.ek-table__heading.last {
    width: 340px;
}
.ek-table__item > *:not(.ek-table__heading) {
    display: flex;
    width: 160px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}
.ek-table__item > *:not(:last-child) {
    margin-right: 30px;
}
.ek-table__item:last-child {
    margin-top: 25px;
}
.ek-table__item > .ek-table__price__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
}

/* Our edges Styles */
/*For Who Styles*/
.ek-our_edge .ek-row {
    margin: 0 -15px;
}
.ek-our_edges__column {
    padding: 15px;
    width: 25%;
    box-sizing: border-box;
}
.ek-our_edges__column__img {
    width: 100%;
    background: var(--bg);
    box-shadow: 0px 2px 35px 5px rgb(182 182 182 / 25%);
    border-radius: 20px;
}
.ek-our_edges__column > .ek-uni__text {
    text-align: center;
    width: 100%;
}

/* Our Partners Styles */
.ek-partners__logo {
    align-items: center;
    height: auto !important;
}
.ek-partners__logo img {
    object-fit: contain;
}

.ek-review__card {
    background: var(--bg);
    box-shadow: 0px 2px 35px 5px
    rgba(182, 182, 182, 0.25);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    width: calc(50% - 15px);
    margin-bottom: 30px;
}
.ek-review__card:nth-child(2n) {
    margin-right: 30px;
}
.ek-review__card__meta {
    margin-bottom: 20px;
}
.ek-review__card__meta__data {
    width: calc(100% - 85px);
    align-items: center;
}
.ek-review__card__meta img {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.ek-review__card__meta__data h2 {
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}
.ek-review__card__text {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    min-height: 235px;
}


/* Footer Styles */
footer {
    padding: 30px 0 40px;
    background-color: var(--base);
}
.ek-footer__column {
    box-sizing: border-box;
    width: calc(25% - (165px / 3));
    margin-right: 55px;
}
.ek-footer__column:last-child {
    margin-right: 0;
    width: 25%;
}
.ek-footer__column__list {
    margin: 0;
    padding: 0;
}
.ek-footer__column__list li {
    padding-bottom: 15px;
}
.ek-footer__column__list li a {
    font-size: 18px;
    color: var(--text);
    transition: color .2s ease;
}
.ek-footer__column__list li a:hover {
    color: var(--footer)
} 




/* Media for Different Screens */
/* ----Tablet Styles---- */
@media (max-width: 768px) {
    
}
/* ----Mobile Styles---- */
@media (max-width: 576px) {
    
}