:root {
    --base: #4CB853;
    --accent: #F6851F;
    --bg: #F7FFF5;
    --error: #F61F1F;
    --success: #1FF682;
    --text: #151514;
    --title: #000000;
    --orange-gr: linear-gradient(360deg, #F6851F 25.58%, rgba(240, 152, 25, 0.17) 110.08%);
    --green-gr: linear-gradient(29.84deg, rgba(44, 156, 72, 0.66) 37.46%, rgba(0, 227, 174, 0.34) 79.68%);
    --secondary: #DDE1DC;
    --plashka: #E2FFDA;
    --footer: #1E9680;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background: var(--bg);
}

/* Glob Styles */
.ek-container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.ek-row{
    padding-right: 15px;
    padding-left: 15px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ek-dfw{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ek-alt-center{
    align-items: center;
}
.ek-jc-center{
    justify-content: center;
}
.ek-jc-sb{
    justify-content: space-between;
}
.ek-h-fit{
    height: fit-content;
}

/* Pop Up Styles */
/*PopUp Stylesheet*/
@keyframes pop-up {
    0%{
        opacity: 0;
        transform: scale(.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@-webkit-keyframes pop-up {
    0%{
        opacity: 0;
        transform: scale(.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.ek-pop_up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
    background-color: rgb(21 43 100 / 20%);
    overflow-y: overlay;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease;
}
.ek-pop_up.active {
    opacity: 1;
    z-index: 25;
    animation: .2s pop-up ease-in;
}
.ek-pop_up-wrap {
    position: relative;
    width: 370px;
    margin: auto auto;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 65px 50px;
    border-radius: 6px;
}
.ek-pop_up-header {
    margin-bottom: 35px;
}
.ek-pop_up-header h4 {
    font-size: 20px;
    font-weight: normal;
    color: var(--blue);
    margin: 0;
}
.ek-pop_up-header i {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #E3E3E3;
    font-size: 24px;
    cursor: pointer;
}
/* Navigation Styles */

nav.ek-mobile {
    display: none;
}
/* - Humburger - */
.ek-humburger {
    position: relative;
    margin-left: auto;
    height: 2px;
    width: 30px;
    background: var(--blue);
    transition: all .4s ease;
    cursor: pointer;
    z-index: 16;
}
.ek-humburger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-top: 2px solid var(--blue);
    top: -10px;
    left: 0;
    transition: all .4s ease;
}
.ek-humburger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-bottom: 2px solid var(--blue);
    top: 0;
    left: 0;
    transition: all .4s ease;
}
.ek-humburger.active {
    transform: rotate(45deg);
}
.ek-humburger.active::before {
    top: -5px;
    left: 5px;
    transform: rotate(-90deg);
}
.ek-humburger.active::after {
    left: -100%;
    opacity: 0;
}
.ek-main{
    justify-content: center;
}
.ek-content{
   background: var(--bg);
    display: flex;
    justify-content: center;
}
.ek-item{
    position: relative;
    width: 1140px;
    height: 700px;
    
}
/*Banner styles*/
.ek-b_title{
    position: absolute;
    width: 665;
    height: 225px;
    left: 50px;
    top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 74px;
    color: var(--title);
}
.ek-b_text{
    position: absolute;
    width: 635px;
    height: 80px;
    left: 50px;
    top: 290px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}
.ek-b_btn{
    box-sizing: border-box;
    position: absolute;
    left: 4%;
    right: 0%;
    top: 62%;
    bottom: 0%;
    width: 255px;
    height: 60px;
    border: 2px solid #4CB853;
    border-radius: 15px;
    background: var(--bg);
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    align-items: center;
    color: var(--base);
}
.ek-b_btn:hover{
    background: var(--base);
    color: white;
    transition: .5s;
    cursor: pointer;
}
.ek-img_laptop{
    position: absolute;
    left: 54%;
    top: 15%;
    width: 500px;
    height: 362px;

}
.ek-img_phone{
    position: absolute;
    left: 57%;
    right: -7.18%;
    top: 33.27%;
    bottom: -16.66%;
    transform: rotate(-15deg);
    width: 284px;
    height: 333px;
}
.ek-img_tablet{
    width: 206px;
    position: absolute;
    left: 68.06%;
    top: 28.79%;
    width: 300px;
    height: 365px;
    transform: rotate(15deg);
}
/*Globe item*/
.ek-block_row{
    display: flex;
    position: relative;
    width: 1140px;
    height: 600px;
    padding-top: 105px;
}
.ek-block_column{
    padding: 15px;
    width: 25%;
    box-sizing: border-box;
    
    display: flex;
    flex-wrap: wrap;
}
.ek-block__column__img{
    width: 100%;
    background: var(--bg);
    box-shadow: 0px 2px 35px 5px rgb(182 182 182 / 25%);
    border-radius: 20px;
}
.ek-g_title{
    position: absolute;
    width: 100%;
    height: 55px;
    left: 0;
    top:0;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
}
.ek-gl_text{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
}
.ek-blog_sug{
    width: 50%;
}
.ek-text{
    font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: var(--text);
}
.ek-svg{
    margin-right: 55px;
}
.ek-table{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.ek-block__row{
    display: flex;
    position: relative;
    width: 1140px;
    height: 1028px;
    padding-top: 105px;
    
}
.ek-tb_bg{
    width: 65px;
    height: 65px;
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--base);
    border-radius: 10px;
    background: var(--base);
    color: white;
}
.ek-tb_t{
    width: 300px;
    height: 120px;
    align-items: center;
}
.ek-size{
    justify-content: center;
}
.ek-mr{
    margin-bottom: 20px;
}
.ek-full_size{
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
    align-items: center;
    text-align: center;
    }
td{
    width: 197px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
}
.ek-text_sp{
    width: 100px;
}
.ek-td_wt{
    width: 300px;
    height: 120px;
    align-items: center;
}
.ek-tb_btn{
    width: 160px;
    height: 60px;
    border: 2px solid #4CB853;
    border-radius: 15px;
    background: var(--bg);
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    align-items: center;
    color: var(--base);
}
.ek-tb_btn:hover{
    background: var(--base);
    color: white;
    transition: .5s;
    cursor: pointer;
}
.ek-st_text{
    width: 100%;
    height: 70px;
    font-weight: 400;
    margin: 0px;
    font-size: 18px;
    text-align: center;
    color: var(--text);
}