<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site setup - Ekrem</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
    
    <main class="ek-main ek-dfw">
        <div id="sidebar" class="ek-sidebar"></div>

        <section class="ek-main_content">
            <div class="ek-tabination">
                <div class="ek-tab_navigation ek-dfw">
                    <div class="ek-tn__item active">Главная страница</div>
                    <div class="ek-tn__item">Страница <br> о компании</div>
                    <div class="ek-tn__item">Настройки каталога</div>
                    <div class="ek-tn__item">Доставка и оплата</div>
                    <div class="ek-tn__item">Страница контакты</div>
                </div>
                <div class="ek-tab">
                    <div class="ek-mc__actions ek-dfw">
                        <button class="ek-mc__action ek-dfw ek-alt-center">
                            <img src="../static/svg/adminpanel/create.svg" alt="">
                            <p>Создать</p>
                        </button>
                        <button class="ek-mc__action ek-dfw ek-alt-center">
                            <img src="../static/svg/adminpanel/open.svg" alt="">
                            <p>Открыть</p>
                        </button>
                        <button class="ek-mc__action ek-dfw ek-alt-center">
                            <img src="../static/svg/adminpanel/edit.svg" alt="">
                            <p>Изменить</p>
                        </button>
                        <button class="ek-mc__action ek-dfw ek-alt-center">
                            <img src="../static/svg/adminpanel/copy.svg" alt="">
                            <p>Копировать</p>
                        </button>
                        <button class="ek-mc__action ek-dfw ek-alt-center">
                            <img src="../static/svg/adminpanel/send.svg" alt="">
                            <p>Отправить</p>
                        </button>
                        <button class="ek-mc__action ek-dfw ek-alt-center">
                            <img src="../static/svg/adminpanel/print.svg" alt="">
                            <p>Печать</p>
                        </button>
                        <button class="ek-mc__action ek-dfw ek-alt-center">
                            <img src="../static/svg/adminpanel/filter.svg" alt="">
                            <p>Фильтр</p>
                        </button>
                        <label class="ek-mc__action ek-dfw ek-alt-center inp">
                            <img src="../static/svg/adminpanel/search.svg" alt="">
                            <input type="text" name="" id="" placeholder="Поиск"> 
                        </label>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script type="module" src="../static/js/adminpanel_index.js"></script>
    <script src="../static/js/dashboard.js"></script>
</body>
</html>